* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #121214;
  color: #fff;
}

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  padding: 1rem 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  height: 7.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.header__buttons--login {
  color: #A6A8AD;
  background-color: transparent;
}
.header__buttons--signup {
  background-color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 3.2rem;
  color: #121214;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.9rem;
     -moz-column-gap: 2.9rem;
          column-gap: 2.9rem;
}
.nav__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.nav__link {
  color: #A6A8AD;
}
.nav__link:hover {
  color: #fff;
}
.nav__logo {
  width: 9.7rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__burger {
  cursor: pointer;
  display: none;
}
.nav__burger span {
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
}

.sounds {
  position: relative;
  background-color: #0033FF;
  padding: 1.1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.sounds__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sounds__link:hover {
  text-decoration: underline;
}

.producer {
  background: url("/img/image1.png") center/cover no-repeat;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 74rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.4rem;
}
.producer__title {
  font-size: 7.2rem;
  font-size: clamp(3rem, 0.5625rem + 5.25vw, 7.2rem);
  font-weight: 400;
  max-width: 41.6rem;
  margin-bottom: 2rem;
}
.producer__descr {
  font-size: 2rem;
  max-width: 41.2rem;
  margin-bottom: 4.4rem;
}
.producer__link {
  padding: 1.6rem 3.2rem;
  background-color: #0033FF;
  border-radius: 0.8rem;
  max-width: 12.5rem;
}

.catalog {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
}
.catalog__text {
  display: inline-block;
  color: #A6A8AD;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.catalog__title {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.catalog__descr {
  max-width: 37.4rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.catalog__link {
  padding: 0.8rem 2rem;
  background-color: #0033FF;
  border-radius: 0.8rem;
}
.catalog__image {
  max-width: 57.2rem;
}
.catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__img {
  margin-bottom: 5rem;
}
.catalog__aling {
  text-align: right;
}

.always {
  color: #000;
  padding: 10rem 0;
}
.always__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36.1rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(36.1rem, min-content));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.always__card {
  padding: 3.2rem;
  background-color: #f8f8f8;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.always__descr {
  font-size: 2rem;
  line-height: 2.2rem;
}
.always__title--h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #A6A8AD;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5.7rem;
  padding: 2rem 0;
  height: 72.8rem;
  background: url(/img/image9.png) center/cover no-repeat;
}
.today__title {
  font-size: 5.4rem;
  font-weight: 400;
}
.today__link {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #0033FF;
  border-radius: 0.8rem;
}

.footer {
  padding: 5rem 0;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8rem;
}
.footer__block--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.1rem;
}
.footer__link {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #A6A8AD;
}
.footer__link_1 {
  font-size: 2rem;
  color: #fff;
  line-height: 2.4rem;
}
.footer__link--bt {
  margin-bottom: 2.4rem;
}
.footer__nav--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__link--about {
  font-size: 1.2rem;
  color: #A6A8AD;
}

@media (width < 686px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 2rem;
    height: auto;
  }
  .sounds {
    padding: 1rem;
  }
  .sounds__content {
    display: none;
  }
  .producer {
    padding: 1.5rem;
    min-height: 40rem;
  }
  .producer__title {
    width: 100%;
  }
  .producer__descr {
    font-size: 1.5rem;
  }
}
@media (width < 575px) {
  .nav__items {
    display: none;
  }
  .nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.7rem;
    cursor: pointer;
  }
  .always__cards {
    grid-template-columns: repeat(auto-fit, minmax(36.1rem, 1fr));
  }
  .today {
    height: 44.4rem;
  }
  .today__title {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */