.header {
    height: 7.1rem;
    @include disp-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
    &__buttons {
        @include disp-flex;
        column-gap: 2rem;
    }
    &__buttons--login {
        color: $color-grey;
        background-color: transparent;
    }
    &__buttons--signup {
        background-color: $color-white;
        padding: 0.8rem 2rem;
        border-radius: 3.2rem;
        color: $color-dark;
    }
}

.nav {
    @include disp-flex;
    column-gap: 2.9rem;
    &__items {
        list-style: none;
        @include disp-flex;
        column-gap: 2rem;
    }
    &__link {
        color:  $color-grey;
        &:hover {
            color: $color-white;
        }
    }
    &__logo {
        width: 9.7rem;
        height: 3rem ;
        object-fit: contain;
    }
    &__burger {
        cursor: pointer;
        display: none;
        span {
            display: inline-block;
            width: 3rem;
            height: 0.2rem;
            background-color: $color-white;
        }
    }
        
}