.producer {
    background: url('/img/image1.png') center / cover no-repeat;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 74rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5.4rem;
    &__title {
        font-size: 7.2rem;
        font-size: clamp(3rem, 0.5625rem + 5.25vw, 7.2rem);
        font-weight: 400;
        max-width: 41.6rem;
        margin-bottom: 2rem;
    }
    &__descr {
        font-size: 2rem;
        max-width: 41.2rem;
        margin-bottom: 4.4rem;
    }
    &__link {
        padding: 1.6rem 3.2rem;
        background-color:  $color-blue;
        border-radius: 0.8rem;
        max-width: 12.5rem;
    }
}